* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.modal {
    width: 35%;
    height: 60%;
    box-shadow: 2px 2px 4px 4px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 56, 189);
}

.divInputs {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    width: 80%;
    height: 60%;
}

.input {
    display: flex;
    flex-direction: column;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    font-size: 16px;
}

input {
    padding: 3px;
    padding-left: 10px;
    outline: none;
}

.divBotoes {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#botaoLogin {
    background-color: rgb(159, 163, 163);
}

#botaoCadastro {
    background-color: rgb(56, 56, 189);
    color: white;
}